
#contact-us {
  padding: 50px 20px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  text-align: center; 
}


.contact-title {
  background: white;
  color: #20b486;
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px; 
  z-index: 1;
}

/* Contact Card */
.contact-card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1400px;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  overflow: hidden;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
}

/* Left Section */
.contact-left {
  flex: 1;
  border-right: 1px solid #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
}

.contact-left h2 {
  color: #20b486;
  margin-bottom: 20px;
  text-align: left;
}

#contact-form input, #contact-form textarea {
  width: 90%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

#contact-form textarea {
  resize: none;
  height: 120px;
}

.send-button {
  background-color: #20b486;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  margin-top: 10px;
  text-align: left;
  width: 90%;
}

.send-button:hover {
  background-color: #1a8b6e;
}

.contact-right {
  flex: 1;
  padding: 60px;
  box-sizing: border-box;
}

.contact-right h3, .contact-right p {
  margin: 10px 0;
  text-align: left;
  font-size: small;
}

.map-placeholder {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


@media (max-width: 1024px) {
  
  .contact-card {
    padding: 20px;
  }

  .contact-left, .contact-right {
    flex: 1 1 100%;
    padding: 20px;
  }

  
  .contact-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  
  .contact-card {
    flex-direction: column;
    padding: 15px;
  }

  .contact-left, .contact-right {
    flex: 1 1 100%;
    padding: 10px;
  }

  
  .contact-title {
    font-size: 24px;
  }

  .contact-left h2 {
    font-size: 20px;
  }

  #contact-form input, #contact-form textarea {
    width: 100%;
  }

  .send-button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  
  .contact-card {
    padding: 10px;
  }

  .contact-left, .contact-right {
    padding: 10px;
  }

  .contact-title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .contact-left h2 {
    font-size: 18px;
  }

  .send-button {
    width: 100%;
    padding: 12px;
  }
}
