/* CourseProfile-salah.css */

#lessonProfile-salah {
    display: flex;
    flex-direction: column;
    align-items: start; 
    padding: 0;
    margin: 0;
}

#coursepicSection-salah {
    background-image: url('/public/assets/images/lessonprpic.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 0; 
}

#courseDetails-salah {
    margin-top: 70vh;
    margin-left: 0;
    padding-left: 0;
}

#lessonpageContent-salah {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.spacing-salah {
    height: 20px;
}


#courseInfo-salah {
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10vw;
    margin-right: 10vw;
}

.title-salah {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin: 15px 0 5px 0;
}

#courseName-salah {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 15px 0 5px 0;
}

#courseTags-salah {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0 10px 0;
}

.courseTag-salah {
    background-color: #FFFFFF;
    opacity: 40%;
    margin-right: 10px;
    padding: 10px 20px;
    border-width: 1px;
    border-radius: 5px; 
    font-weight: bold;
    font-size: 12px;
}

#quickDesc-salah {
    margin-top: 10px;
    color: white;
    font-size: 20px;
}

#mentorCreator-salah {
    color: white;
    font-size: 16px;
    font-weight: bold;
}


.buttonStyle-salah {
    background-color: transparent;
    border: solid;
    border-width: 2px;
    border-color: white;
    color: white;
    padding: 10px 15px;
    margin-right: 10px;
    font-weight: 600;
    border-radius: 5px;
}


.pageSection-salah {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-right: 10vw;
    width: 80vw;
}

.courseItem-salah {
    color: black;
    margin: 10px;
}

#courseMore-salah {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.spacingH-salah {
    width: 20px;
}


#lessons-salah {
    width: 70vw;
}

.lessonItem-salah {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

.lessonName-salah {
    font-weight: bold;
}

.preview-salah {
    color: #1A906B;
    text-decoration: underline;
}

.lessonDuration-salah {
    font-weight: bold;
    color: gray;
}

#instructorSection-salah {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: stretch;
    width: 70vw;
    gap: 2vw;
}

#instructorPic-salah, #instructorInfo-salah {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#instructorPic-salah {

    margin: 2vh;
    width: 20vw;
    border-radius: 50%;
    align-items: center;
}

#instructorInfo-salah {
    width: 45vw;
}

#Location-salah {
    color:#1A906B;
}

.Subtitle-salah {
    
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 15px 0 5px 0;

}

.experienceItem-salah {
    margin-left: 4vw;
}


@media (max-width: 400px) {
    #courseInfo-salah {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 20vh;
    }

    .title-salah {
        font-size: 24px;
    }

    #courseName-salah {
        font-size: 24px;
    }

    #quickDesc-salah {
        font-size: 16px;
    }

    #mentorCreator-salah {
        font-size: 14px;
    }

    .buttonStyle-salah {
        padding: 8px 10px;
        font-size: 14px;
    }

    #courseTags-salah {
        flex-wrap: wrap;
    }

    .courseTag-salah {
        font-size: 10px;
        padding: 8px 10px;
        margin-right: 5px;
    }

    #lessons-salah {
        width: 90vw;
    }

    .lessonItem-salah {
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        width: 100%;
    }

    .lessonName-salah, .preview-salah, .lessonDuration-salah {
        font-size: 14px;
        margin-bottom: 5px;
    }
    #instructorPic-salah {
        margin-left: 8vw;
        margin-right: 18vw;
        width: 5vw;
        
    }
    
}
