.mentor-card {
    background: #fff;
    border: 1px solid #ddd;
    border-width: 0 1px 1px;
    border-radius: 0 0 8px 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), inset 0 8px 0 rgba(255, 255, 255, 1);
    width: 100%;
    max-width: 220px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.3s ease;
    overflow: hidden;
  }
  
  .mentor-card p {
    margin: 0;
  }
  
  .mentor-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .mentor-name {
    font-size: 1.3em;
    font-weight: 600;
    height: 40px;
  }
  
  .mentor-title {
    font-size: 1em;
    color: #20B486;
    height: 80px;
  }
  
  .mentor-description {
    font-size: 0.95em;
    color: #555;
    height: 150px;
    margin-bottom: 20px;
  }
  
  