
.home-container {
  background-color: white; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page {
  background-image: none; 
}

.content {
  text-align: center;
}

h1 {
  font-size: 36px;
  color: #333;
  
}

p {
  font-size: 18px;
  margin: 20px 0;
}

.buttons a {
  margin: 10px;
  padding: 10px 20px;
  background-color: #20B486;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
}

.buttons a:hover {
  background-color: #1b8c64;
}
