/* Welcoming Section */
.welcome-section {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh; 
    width: 100%;
    
    background-size: cover;
    background-position: center;
    color: #000000; 
    padding: 0 5%; 
    padding-top: 5%;
    padding-bottom: 5%;
    box-sizing: border-box; 
  }
  
  body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
  }
  
  .welcome-content {
    max-width: 600px; 
  }
  
  .welcome-content h1 {
    font-size: 3rem; 
    margin-bottom: 1rem;
  }
  
  .welcome-content h1 span {
    color: #17a773;
  }
  
  .welcome-content p {
    font-size: 1.2rem; 
    margin-bottom: 2rem;
  }
  
  .get-started-btn {
    margin-top: 30px;
    padding: 0.8rem 2rem;
    background-color: #17a773; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  
  .get-started-btn:hover {
    background-color: #20B486; 
  }
  
  @media (max-width: 768px) {
    .welcome-section {
      justify-content: center; 
      text-align: center; 
      padding: 2rem; 
    }
  
    .welcome-content {
      max-width: 100%; 
    }
  
    .welcome-content h1 {
      font-size: 2rem; 
    }
  
    .welcome-content p {
      font-size: 1rem; 
    }
  
    .get-started-btn {
      font-size: 0.9rem; 
    }
  }
  
  @media (max-width: 480px) {
    .welcome-content h1 {
      font-size: 1.8rem; 
    }
  
    .welcome-content p {
      font-size: 0.9rem; 
    }
  
    .get-started-btn {
      padding: 0.6rem 1.5rem; /
    }
  }
  